:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
  --white-background-color: #ffffff;
  --modal-background-color: #fcfcfc;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* Header */
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.header-span {
  color: var(--dark-color);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.header-contacts {
  font-style: normal;
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--pressed-state-color);
}

/**Headers*/
.features-title,
.services-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--dark-color);
}

.features-subtitle,
.team-subtitle,
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

/**Text style*/
.contact-link,
.text,
.footer-slogan {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/**Hero section*/
.hero {
  background-color: var(--dark-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white-background-color);
}

.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  background-color: var(--primary-brand-color);
  color: var(--white-background-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}


/**Team section*/
.team {
  background-color: var(--light-color);
}

.team-item {
  background-color: var(--white-background-color);
}


/**Filter section*/
.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  background-color: var(--light-color);
  color: var(--primary-brand-color);
}

.filter-button:hover,
.filter-button:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-background-color);
}


/**Footer*/
.footer {
  background-color: var(--dark-color);
}

.footer-span {
  color: var(--light-color);
}

.footer-slogan {
  color: var(--light-color);
}
